* {
    padding: 0;
    margin: 0;
  }
  
  #navbar {
    /* width: 100vh; */
    background: #13357c;
    height: 76px;
    overflow-x: hidden;
    width: 100%;
  }

 
  
  #container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: white;
    /* width: 100vw;; */
    margin-left: 50px;
    margin-right: 50px;
    gap:30px;

    /* max-width: 1024px; */
     /* Adjust padding for better spacing */
  }
  
  #unorder {
    display: flex;
    list-style: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width:50%;
    gap: 1%;
margin-top: 0px !important;

  }
  #unorder>li:hover{
    color:blue;
  }
  
  #buttons {
    display: flex;
    gap: 20px; /* Adjust gap between buttons */
    height:70%;
    width: 31%;
    border-radius: 4px;

  }
  
  /* .button {
    border-radius: 4px;
    width:100%;
  } */
  
  #title {
    font-size: 30px;
    width: 13%;
  }
  
  .but2 {
    background-color: rgba(19, 53, 124, 1);
    color: rgba(255, 255, 255, 1);
    border: 1px solid white;
    width: 100%;
    border-radius: 5px;
    /* font-family: Andale Mono !important; */
    position: relative;
    z-index: 2000;
    font-size: 15px;

  }
  .but1 {
    /* background-color: rgba(19, 53, 124, 1); */
    /* color: rgba(255, 255, 255, 1); */
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;;
    font-size: 15px;


  }
  
  li div{
    padding-left:15px ; /* Adjust padding for better spacing */
  }
  
  @media screen and (max-width: 700px) {
    #unorder {
      flex-wrap: wrap; /* Allow items to wrap on smaller screens */
      justify-content: center; /* Center items on smaller screens */
    }
  
    #title {
      font-size: 20px;
    }
  
    .button {
      width: 100%;
    }
    #navbar{
      height: auto;
    }
  }
  